{% extends "base.html"%}
{% block content %}
<div class="content-column w-col w-col-9">
    <div class="w-dyn-list">
        <div role="list" class="w-dyn-items">
            <div role="listitem" class="w-dyn-item">
                <div data-w-id="53cc7567-513c-3103-cd72-dfb075f10bef" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d; height: 300px;" class="post-wrapper">
                    <div style="display:flex; flex:wrap;" >
                        <div class="w-row">
                            <div class="post-content">
                                <div class="w-col-6 w-col-medium-6">
                                    <h1 class="small-heading" style="text-align:center; font:900; font-weight:heavy;">Message</h1>
                                    <div class="grey-rule" style="margin-left:7%;"></div>
                                </div>
                            </div>
                            <div class="post-content" >
                                <div class="w-col-6 w-col-medium-6">
                                    <h1 class="small-heading" style="text-align:center; font:900; font-weight:heavy;">Groups</h2>
                                    <div class="grey-rule" style="margin-left:7%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
